<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="otherBean" class="com.tianyou.spring.SpringDay4.OtherBean">
        <property name="name" value="李四"></property>
    </bean>

    <bean id="springBean" class="com.tianyou.spring.SpringDay4.SpringBean">
        <property name="age" value="18"></property>
        <property name="name" value="张三"></property>
        <property name="price" value="40.26"></property>
        <property name="clazz" value="java.lang.String"></property>
        <property name="otherBean" ref="otherBean"></property>
        <property name="array">
            <array>
                <value>1</value>
                <value>2</value>
                <value>3</value>
            </array>
        </property>
        <property name="list">
            <list>
                <ref bean="otherBean"></ref>
            </list>
        </property>
        <property name="set">
            <set>
                <ref bean="otherBean"></ref>
            </set>
        </property>
        <property name="map">
            <map>
                <entry key-ref="otherBean" value="java.lang.String"></entry>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="姓名">value1</prop>
            </props>
        </property>
    </bean>
</beans>