<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="double11" class="com.tianyou.spring.SpringDay13.DateFactoryBean">
        <property name="year" value="2019"></property>
        <property name="month" value="11"></property>
        <property name="date" value="11"></property>
        <property name="hour" value="12"></property>
        <property name="minute" value="30"></property>
        <property name="second" value="30"></property>
    </bean>


</beans>