<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianyou.Dao.UserDao">
    
    
    <sql id="user_colum">
        id,
        username,
        password
    </sql>

    <select id="finduserbyName" parameterType="String" resultType="com.tianyou.Entity.User">
        select <include refid="user_colum"></include>
        from project_user
        where username=#{username}
    </select>

    <!--useGeneratedKeys表示获取插入后数据的主键-->
    <insert id="addUser" parameterType="com.tianyou.Entity.User" useGeneratedKeys="true">
        insert into project_user
        (username, password)
        values
        (#{username},#{password})
    </insert>
</mapper>